<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>WebTest01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>Servlet01</servlet-name>
  	<servlet-class>com.peng.servlet.Servlet01</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Servlet01</servlet-name>
  	<url-pattern>/Servlet01</url-pattern>
  </servlet-mapping>
  
  <!-- 配置spring,主要配置文件,如果文件有多个,需要监听器配合
  		如果配置文件放在WEB-INF下面,这一段可不写,只写监听器即可 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/applicationContext*.xml</param-value>
	</context-param>
	
	<!-- 使用监听器加载spring配置文件,不加,前面的配置加不上 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- 解决post乱码问题 ,设置编码是UTF-8-->
	<filter>
		<filter-name>encoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 配置前端控制器 -->
	<servlet>
		<servlet-name>springmvc-web</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

		<!-- 加载springmvc的核心配置文件,放入web服务器中 -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring/SpringMVC.xml</param-value>
		</init-param>
	</servlet>

	<!-- 配置拦截路径 -->
	<servlet-mapping>
		<servlet-name>springmvc-web</servlet-name>
		<url-pattern>*.action</url-pattern>
	</servlet-mapping>
  
</web-app>